{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venture</title>
    <link rel="stylesheet" href="{% static "css\clubs.css" %}">

  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="profile"></div>
        <div class="nav-item">Home</div>
        <div class="nav-item">Explore</div>

        <a href="{% url 'clubs' %}">
            <div class="nav-item">Clubs</div></a>        
        <div class="nav-item">Events</div>
        <div class="nav-item">Profile</div>
      </div>

      <div class="main">
        <div class="content">
          <div class="general">
            <h1>Clubs</h1>
        <a href="{% url 'create_a_club' %}">
            <div class="nav-item">Create A Club</div></a>    
        <a href="{% url 'club_match' %}">
            <div class="nav-item">Club Match</div></a>    
          </div>
        </div>
      </div>
    </div>
    <script src="{% static "js\clubs.js" %}"></script>

  </body>
</html>
